* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body * {
    outline: 1px solid pink;
}

header {
    display: flex;
    flex-wrap: wrap;
}

#logo {
    flex: 1 0 800px;
}

#menu-container {
    display: flex;
    flex: 1  0 200px;
}

#main-content-container {
    display: flex;
    flex-wrap: wrap;
}

main {
    flex: 1 0 600px;

}

aside {
    flex: 1 0 400px;
}

footer {
    flex: 1 0 100%
}


